<nav class="navbar navbar-expand navbar-light bg-primary fixed-nav-bar" style="white-space: pre;">
    &nbsp;<a class="nav-link text-white" routerLink="/booking" routerLinkActive="bg-success"> Flights</a>&nbsp;
    &nbsp;<a class="nav-link text-white" routerLink="/hotels" routerLinkActive="bg-success"> Hotels</a>&nbsp;
    &nbsp;<a class="nav-link text-white" [routerLink]="['/cabs']" routerLinkActive="bg-success"> Cabs</a>&nbsp;
    &nbsp;<a class="nav-link text-white" [routerLink]="['/package']" routerLinkActive="bg-success">Holiday_Package</a>&nbsp;
</nav>
